*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
nav{
    position: fixed;
    height: 60px;
    width: 98%;
}
label.logo{
    color: #30ff30;
    font-size: 40px;
    line-height: 80px;
    padding: 0px 16px;
    font-weight: bold;
    margin: 3px 6px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 78px;
    margin: -6px 18px;
}
nav ul li a{
    color: cyan;
    font-size: 20px;
    border-radius: 4px;
}
a.active, a.hover{
    border: 3px solid green;
    padding: 10px;
    border-radius: 25px;
    background-color: cadetblue;
    cursor: pointer;
    margin: 2px 2px;
    font-size: 18px;
    
}
section{
    background: url(img.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 0px);
}
h1{
    text-align: center;
    margin-top: -435px;
    /* bottom: 42px; */
    font-weight: 70;
    /* margin-bottom: 36px; */
    font-size: 64px;
    color: red;
    font-family: math;
}
h3{
    text-align: center;
    font-size: 26px;
    margin: 18px 0px;
    color: #007eff;
}
.btn{
    margin: 60px 400px;
    padding: 12px 25px;
    color: deepskyblue;
    background-color: gold;
    text-transform: uppercase;
    border: 3px solid indigo;
    border-radius: 30px;
}
